<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
</head>
<body>
    <div>
        <a href="authentication">Register</a>
        <a href="login">Login</a>
        <h1>{{.Username}}</h1>
        <!-- <h1>{{.UUID_hash}}</h1> -->
        <a href="logout">Logout</a>
        <form action="/postcreation" method="POST">
            <button class="sub button" type="submit" value="create_post">create post</button>
        </form>
    </div>
    {{range .DataTab}}
    POST
    {{.Id_account}}
    {{ .Title}}
    {{ .Category}}
    {{ .Picture_text}}
    {{ .Id_post}}
    <form action="/commentcreation" method="POST">
        <input type="hidden" id="uuid_post" name="uuid_post" value="{{.Id_post}}">
        <button class="sub button" type="submit" value="create_comment">create comment</button>
    </form>
    {{range .Comments}}
    COMM
    {{ .Id_account}}
    {{ .Comment}}
    {{ .Id_post}}
    {{ end }}
    {{ end }}
</body>
</html>
